#booking-img-container {
  height: 100vh;
  background-image: url("/Background-Logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#main-container {
  display: flex;
  justify-content: left;
  padding-left: 35px;
  padding-top: 20px;
  height: 100vh;
}

#booking-form-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 90%;
  max-width: 560px;
  height: auto;
  min-height: 370px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#booking-form-container-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.booking-input,
#category-container {
  width: 40%;
  max-width: 300px;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #000;
  margin-bottom: 10px;
}

#lvl-1,
#lvl-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

#category-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#category-container-header {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#category-container-buttons {
  display: none;
  width: 100%;
  padding: 10px 0px 10px 0px;
  top: 100%;
  position: absolute;
  z-index: 1;
}

.class_button {
  padding: 0px 0px 8px 0px;
}

#category-container:hover #category-container-buttons {
  display: block;
}

#lvl-3-container {
  display: flex;
  padding-bottom: 5px;
  flex-direction: column;
}

#filterButtons {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

#labelFilterButtons {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.8px;
  font-size: medium;
}

#searchButtonDiv {
  cursor: pointer;
}

#searchButton {
  all: unset;
  margin-top: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 6rem;
  background-color: #0d0c22;
  border-radius: 9999px;
}

#searchButton h4 {
  transition: all 0.25s ease;
}

#searchButton h4:hover {
  transform: scale(1.12);
}
