@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-track {
  background: transparent;
}

a {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  color: #060318;
}

h1 {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  color: #060318;
}

h3 {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

h1,h2,h3,h4,p,a {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.8px;
}
